{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "streaming-user-segmentation",
      "image": "quay.io/crystalknows/streaming-user-segmentation:<TAG>",
      "memory": 4096,
      "essential": true,
      "portMappings": []
    }
  ]
}
