{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "crystal-realtime",
      "image": "quay.io/crystalknows/streaming-user-segmentation:<TAG>",
      "memory": 7516,
      "essential": true,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 3000
        }
      ]
    }
  ]
}
